:root {
    --img-width: 100%;
    --img-height: 100%;
}

* {
    box-sizing: border-box;
    cursor: default;
}

html,
ul {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template:
    [header-start]  ". header header    ."    10%   [header-end]
    [main-start]    ". main main        ."    80%   [main-end]
    [footer-start]  ". footer footer    ."    auto  [footer-end]
    / 50px auto auto 50px;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--color-background);
    color: var(--color-main-text);
    font-family: var(--font-base);
    font-size: 15pt;
}

body > * {
    min-width: 50vw;
}

h2 {
    font-family: var(--font-title);
    text-shadow: var(--shadow-main-title);
}

p {
    line-height: 1.5em;
    max-width: 40ch;
    text-align: justify;
}

a, a * {
    cursor: pointer;
    transition: var(--transition-all);
}

a, a:link, a:visited {
    color: var(--color-accent);
    text-decoration: none;
    text-shadow: var(--shadow-main-link);
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    text-shadow: 0 0 0.2rem var(--color-accent);
}

section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

section > * {
    flex: 1 1 auto;
}

button {
    cursor: pointer;
}

/* Header */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Main */
main {
    grid-area: main;


    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: space-between;

    padding: 1rem;
}

main img {
    height: 100%;
    width: 100%;
}

fieldset {
    display: flex;
}

/* Footer */
footer {
    grid-area: footer;

    text-align: center;

    position: relative;
}

footer p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);

    line-height: 1.2rem;
    margin: 10px 0;
}

/* Per id */
#swatches {
    flex: 1 1 20rem;
}

#swatches ul {
    display: flex;
    flex-flow: column nowrap;
}

#swatches ul li {
    list-style-type: none;
    position: relative;
    min-height: 2rem;
}

#swatches div {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;

    pointer-events: all;
}

/* id's */
#image {
    flex: 2 1 auto;

    height: 60vh;
    width: auto;
/* main > section#dashboard > * {
} */
}

#loading img {
    height: 20px;
    width: 20px;
    opacity: 0;
}

/* class */
.opacity_1 {
    opacity: 1 !important;
}

/* media */
@media screen and (max-width:800px) {
    #dashboard {
        flex-flow: column wrap;
    }
}